<table>
  <tr>
    <td>
      <ul>
        <li>%!Name%:&nbsp;%Name%</li>
        <li>%!Mobile phone%:&nbsp;%Mobile phone%</li>
        <li>%!Work phone%:&nbsp;%Work phone%</li>
        <li>%!Fax%:&nbsp;%Fax%</li>
        <li>%!E-Mail%:&nbsp;%E-Mail%</li>
        <li>%!Organisation%:&nbsp;%Organisation%</li>
        <li>%!Job%:&nbsp;%Job%</li>
        <li>%!Site%:&nbsp;%Site%</li>
      </ul>
    </td>
    <td>
      %qrcode%<br />
      %vcard-file%
    </td>
  </tr>
  <tr>
    <td colspan='2'>%!Work address%<br />%Work address%</td>
  </tr>
</table>
